In [95]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
census_data = Path("../datasets/age_census_data.csv")

In [96]:
# Load csv as df
census_df = pd.read_csv(census_data)

In [97]:
# View df
census_df.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!60 years and over!!Estimate,Alabama!!60 years and over!!Margin of Error,Alaska!!Total!!Estimate,Alaska!!Total!!Margin of Error,Alaska!!60 years and over!!Estimate,Alaska!!60 years and over!!Margin of Error,Arizona!!Total!!Estimate,...,Wisconsin!!60 years and over!!Estimate,Wisconsin!!60 years and over!!Margin of Error,Wyoming!!Total!!Estimate,Wyoming!!Total!!Margin of Error,Wyoming!!60 years and over!!Estimate,Wyoming!!60 years and over!!Margin of Error,Puerto Rico!!Total!!Estimate,Puerto Rico!!Total!!Margin of Error,Puerto Rico!!60 years and over!!Estimate,Puerto Rico!!60 years and over!!Margin of Error
0,Total population,"5,074,296",*****,"1,254,589","±8,153","733,583",*****,"145,091","±2,694","7,359,197",...,"1,526,889","±6,815","581,381",*****,"146,340","±2,749",NaN,NaN,NaN,NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,±0.1,44.9%,±0.3,52.6%,±0.3,51.2%,±0.8,50.0%,...,47.3%,±0.2,51.2%,±0.4,49.1%,±0.9,NaN,NaN,NaN,NaN
3,Female,51.5%,±0.1,55.1%,±0.3,47.4%,±0.3,48.8%,±0.8,50.0%,...,52.7%,±0.2,48.8%,±0.4,50.9%,±0.9,NaN,NaN,NaN,NaN
4,Median age (years),39.6,±0.2,69.7,±0.2,35.9,±0.3,68.5,±0.4,38.8,...,69.6,±0.2,39.1,±0.5,69.5,±0.3,NaN,NaN,NaN,NaN

In [98]:
# Drop all columns with margin in name
census_df.drop(census_df.filter(regex='Margin').columns, axis=1, inplace=True)
census_df.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!60 years and over!!Estimate,Alaska!!Total!!Estimate,Alaska!!60 years and over!!Estimate,Arizona!!Total!!Estimate,Arizona!!60 years and over!!Estimate,Arkansas!!Total!!Estimate,Arkansas!!60 years and over!!Estimate,California!!Total!!Estimate,...,Washington!!Total!!Estimate,Washington!!60 years and over!!Estimate,West Virginia!!Total!!Estimate,West Virginia!!60 years and over!!Estimate,Wisconsin!!Total!!Estimate,Wisconsin!!60 years and over!!Estimate,Wyoming!!Total!!Estimate,Wyoming!!60 years and over!!Estimate,Puerto Rico!!Total!!Estimate,Puerto Rico!!60 years and over!!Estimate
0,Total population,"5,074,296","1,254,589","733,583","145,091","7,359,197","1,838,642","3,045,637","738,823","39,029,342",...,"7,785,786","1,789,686","1,775,156","502,518","5,892,539","1,526,889","581,381","146,340",NaN,NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,44.9%,52.6%,51.2%,50.0%,46.5%,49.4%,46.1%,50.1%,...,50.5%,46.8%,49.7%,46.5%,50.2%,47.3%,51.2%,49.1%,NaN,NaN
3,Female,51.5%,55.1%,47.4%,48.8%,50.0%,53.5%,50.6%,53.9%,49.9%,...,49.5%,53.2%,50.3%,53.5%,49.8%,52.7%,48.8%,50.9%,NaN,NaN
4,Median age (years),39.6,69.7,35.9,68.5,38.8,70.6,38.9,69.9,37.9,...,38.4,69.9,42.9,70.2,40.4,69.6,39.1,69.5,NaN,NaN

In [105]:
# Rename the columns to be more readable 
renamed_census_df = census_df.rename(columns=lambda x: x.replace('!!60 years and over!!Estimate', '_60+_Estimate'))
renamed_census_df = renamed_census_df.rename(columns=lambda x: x.replace('!!Total!!Estimate', '_Total_Estimate'))
renamed_census_df = renamed_census_df.rename(columns={"Label (Grouping)": "Stat"})
renamed_census_df

,Stat,Alabama_Total_Estimate,Alabama_60+_Estimate,Alaska_Total_Estimate,Alaska_60+_Estimate,Arizona_Total_Estimate,Arizona_60+_Estimate,Arkansas_Total_Estimate,Arkansas_60+_Estimate,California_Total_Estimate,...,Washington_Total_Estimate,Washington_60+_Estimate,West Virginia_Total_Estimate,West Virginia_60+_Estimate,Wisconsin_Total_Estimate,Wisconsin_60+_Estimate,Wyoming_Total_Estimate,Wyoming_60+_Estimate,Puerto Rico_Total_Estimate,Puerto Rico_60+_Estimate
0,Total population,"5,074,296","1,254,589","733,583","145,091","7,359,197","1,838,642","3,045,637","738,823","39,029,342",...,"7,785,786","1,789,686","1,775,156","502,518","5,892,539","1,526,889","581,381","146,340",NaN,NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,44.9%,52.6%,51.2%,50.0%,46.5%,49.4%,46.1%,50.1%,...,50.5%,46.8%,49.7%,46.5%,50.2%,47.3%,51.2%,49.1%,NaN,NaN
3,Female,51.5%,55.1%,47.4%,48.8%,50.0%,53.5%,50.6%,53.9%,49.9%,...,49.5%,53.2%,50.3%,53.5%,49.8%,52.7%,48.8%,50.9%,NaN,NaN
4,Median age (years),39.6,69.7,35.9,68.5,38.8,70.6,38.9,69.9,37.9,...,38.4,69.9,42.9,70.2,40.4,69.6,39.1,69.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD IN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Less than 30 percent,57.3%,55.2%,60.7%,55.0%,50.6%,44.2%,59.6%,51.2%,46.9%,...,51.4%,42.8%,58.2%,56.3%,57.2%,45.5%,61.4%,52.9%,NaN,NaN
124,30 percent or more,42.7%,44.8%,39.3%,45.0%,49.4%,55.8%,40.4%,48.8%,53.1%,...,48.6%,57.2%,41.8%,43.7%,42.8%,54.5%,38.6%,47.1%,NaN,NaN
125,GROSS RENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Median gross rent (dollars),913,741,"1,329","1,017","1,450","1,202",846,725,"1,870",...,"1,630","1,291",795,674,992,889,895,727,NaN,NaN

In [106]:
# Filter out age and Total Pop rows
age_census_df = renamed_census_df.iloc[0:5]
row_to_delete = [1,2,3]
age_census_df.drop(renamed_census_df.index[row_to_delete], inplace=True)
age_census_df

/var/folders/6z/hrjcy3bn6djf_8b605nts_dh0000gp/T/ipykernel_33118/3367387354.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_census_df.drop(renamed_census_df.index[row_to_delete], inplace=True)

,Stat,Alabama_Total_Estimate,Alabama_60+_Estimate,Alaska_Total_Estimate,Alaska_60+_Estimate,Arizona_Total_Estimate,Arizona_60+_Estimate,Arkansas_Total_Estimate,Arkansas_60+_Estimate,California_Total_Estimate,...,Washington_Total_Estimate,Washington_60+_Estimate,West Virginia_Total_Estimate,West Virginia_60+_Estimate,Wisconsin_Total_Estimate,Wisconsin_60+_Estimate,Wyoming_Total_Estimate,Wyoming_60+_Estimate,Puerto Rico_Total_Estimate,Puerto Rico_60+_Estimate
0,Total population,"5,074,296","1,254,589","733,583","145,091","7,359,197","1,838,642","3,045,637","738,823","39,029,342",...,"7,785,786","1,789,686","1,775,156","502,518","5,892,539","1,526,889","581,381","146,340",NaN,NaN
4,Median age (years),39.6,69.7,35.9,68.5,38.8,70.6,38.9,69.9,37.9,...,38.4,69.9,42.9,70.2,40.4,69.6,39.1,69.5,NaN,NaN

In [108]:
# Save .csv output
out_path = Path("../datasets/filtered_age_data.csv")
age_census_df.to_csv(out_path)