In [34]:
#dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [35]:
#file path for first data set
file = Path("../datasets/filtered_state_educational_data.csv")
education_df = pd.read_csv(file)
education_df.head()

,State,EDUCATIONAL ATTAINMENT,Population 25 years and over,Less than high school graduate,"High school graduate, GED, or alternative",Some college or associate's degree,Bachelor's degree or higher
0,Alabama,NaN,"3,474,924",11.2%,30.4%,29.6%,28.8%
1,Alaska,NaN,"489,218",6.7%,29.1%,33.6%,30.6%
2,Arizona,NaN,"5,053,656",10.8%,23.8%,32.4%,33.0%
3,Arkansas,NaN,"2,057,624",10.9%,34.3%,29.4%,25.4%
4,California,NaN,"26,866,773",15.3%,20.5%,27.2%,37.0%

In [38]:
#file path for second data set
file2 = Path ("../datasets/cleaned_covid19_vaccinations.csv")
vaccination_df = pd.read_csv(file2)
vaccination_df.head()

,State,Total doses administered by jurisdiction,Residents with a completed primary series,Percent of total pop with a completed primary series,Residents 18+ with a completed primary series,Percent of 18+ pop with a completed primary series,Residents 65+ with a completed primary series,Percent of 65+ pop with a completed primary series
0,United States,676728782,230637348,69.5,204327579,79.1,51708613,94.4
1,Alaska,1328221,477592,65.3,418608,75.9,81999,89.5
2,Alabama,7018011,2611593,53.3,2416344,63.3,725159,85.3
3,Arkansas,4874091,1720209,57.0,1547724,66.8,440981,84.2
4,American Samoa,115281,42495,89.7,29952,95.0,2996,91.4

In [39]:
#merging the datasets
merged_df = pd.merge(education_df, vaccination_df, on = "State")
merged_df.head()

,State,EDUCATIONAL ATTAINMENT,Population 25 years and over,Less than high school graduate,"High school graduate, GED, or alternative",Some college or associate's degree,Bachelor's degree or higher,Total doses administered by jurisdiction,Residents with a completed primary series,Percent of total pop with a completed primary series,Residents 18+ with a completed primary series,Percent of 18+ pop with a completed primary series,Residents 65+ with a completed primary series,Percent of 65+ pop with a completed primary series
0,Alabama,NaN,"3,474,924",11.2%,30.4%,29.6%,28.8%,7018011,2611593,53.3,2416344,63.3,725159,85.3
1,Alaska,NaN,"489,218",6.7%,29.1%,33.6%,30.6%,1328221,477592,65.3,418608,75.9,81999,89.5
2,Arizona,NaN,"5,053,656",10.8%,23.8%,32.4%,33.0%,14647405,4821350,66.2,4239941,75.2,1188267,90.8
3,Arkansas,NaN,"2,057,624",10.9%,34.3%,29.4%,25.4%,4874091,1720209,57.0,1547724,66.8,440981,84.2
4,California,NaN,"26,866,773",15.3%,20.5%,27.2%,37.0%,88487852,29588939,74.9,25681179,83.9,5441414,93.2